.third{
  margin-top: 25px;
}
.third button{
  height: 3em;
  width: 22%;
  margin-left: 5px;
  font-weight: 590;
  font-size: 1.1em;
}
.fourth{
  margin-top: 25px;
}
.fourth button{
  height: 3em;
  width: 22%;
  margin-left: 5px;
  font-weight: 590;
  font-size: 1.1em;
}
.fifth{
  margin-top: 25px;
}
.fifth button{
  height: 3em;
  width: 23%;
  margin-left: 87px;
  font-weight: 600;
  font-size: 1.1em;
}
